<p-toast></p-toast>
<p-table #dt  stateStorage="session"  editMode="row"
stateKey="gfg-session" [columns]="HeadArray" [value]="GridArray" dataKey="id" responsiveLayout="scroll"  [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15,20]" [lazy]="true" (onLazyLoad)="paginates($event)"  [totalRecords]="dataLength">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let head of columns" (click)="sortFunction(head.field,booleanValue)">{{head.header}}<p-sortIcon field="{{head.field}}"></p-sortIcon></th>
            <th *ngIf="isAction"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-GridArray let-columns="columns" let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="GridArray">
            <td pEditableColumn *ngFor ="let head of columns">
                <p-cellEditor *ngIf="head.field">
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="GridArray[head.field]">
                    </ng-template>
                    <ng-template pTemplate="output">
                    {{GridArray[head.field]}}
                    </ng-template>
                </p-cellEditor>
                <!-- <div *ngIf="head.field!==''">
                    {{GridArray[head.field]}}
                </div> -->
                <div *ngIf="head.field ==''">
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(GridArray)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(GridArray, ri)" class="p-button-rounded p-button-text p-button-danger"></button> 
                    <button *ngIf="!editing" pButton pRipple icon="pi pi-pencil" pInitEditableRow class="p-button-rounded p-button-success mr-2" (click)="editProduct(GridArray)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(GridArray)"></button>
                </div>
            </td>
            
        </tr> 


    </ng-template>
    <!-- <p-paginator [rows]="10" [totalRecords]="(GridArray | json).length" [rowsPerPageOptions]="[10,20,30]"></p-paginator> -->
</p-table>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
